button {
    float: left;
    width: 150px;
    background-color: chartreuse;
    margin:5px;
    border-color: blue;
}

input {
    float:left;
    width:45px;
    background-color: whitesmoke;
    margin:5px;
    
}

div {
    clear: both;
}

body{
    background-color: cornflowerblue;
}
.choices {
    font-size: 20px;
    font-family:cursive ;
}
h2{
    text-decoration: underline;
}