body {
    background-color: cornflowerblue;
    max-width: 700px;
    margin:auto;
}
.btn-left-pad {
    padding-left: 25px;                   
}

.btn-right-pad {
padding-right: 25px;
}

.btn-padding {
    padding: 25px;
    border: 5px black solid;    
    border-radius: 8px;
    float:left;
}

.elf-div-border {
 
    border: 1px black solid;
    width: 200px;
    text-align: center;
    
    
    
    
}

.btn-padding:hover {
    background-color: aqua;
    border-color: white;
}                   
.btn-margin-padding {
    padding-left:15px;
    padding-right:15px;
    margin: 5px;
    border:5px white solid;
}           
#button-wrapper{
    background-color: black;
    border:10px cornflowerblue double;
    display: inline-block;
}
.btn-margin-padding:active {
    color: red;
}                    
aside {        
    background-color: bisque;
    border: black 1px solid;
    border-radius: 8px;
    float: right;
    font-style: italic;
    margin-right: 5px;
    padding: 8px;
    width: 33%;        
}
ul{
    border: 25px silver ridge;
    padding:1px;
    margin: 1px;
    list-style-type:none;
    
}
h2{
    text-align: center;
}
.elf-paragraph{
    border:10px whitesmoke dotted;
    padding:5px;
    margin: 30px;
}