body  {
    background-color: lightslategray;
}

h1 {
    color: rgb(189, 222, 135);
    font-size: 55px;
    
}
.rectangle {
	width: 300px;
	height: 50px;
	transform: skew(20deg);
    background: rgb(35, 54, 90);
    }

h2 {
    color: green;
    font-size: 20px;
}
header p {
    font-weight: 800;
    color: orangered;
    text-transform: uppercase;
    font-style: italic;

}
main {
    background-color: coral;
}
footer {
    background-color:lightskyblue;
    border: black solid thin;
    padding-left: 8px;
    border-radius: 8px;
    
}
nav {        
    background-color: aliceblue;
    border: 1px green solid;
    padding: 8px;
    margin: -1px 0px 0px 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

nav li {
    display: inline;
    padding: 8px;    
}
figure.left {
    
    float: left;
    
}
section.clear{
    clear: both;
}          
.red-heading {
    color: red;
}

.blue-text {
    color: blue;
}

#new-font {
    font-family: fantasy, cursive, serif;
}
img.sunset{
    height: 700px;
    width: 600px;
}
img.brew{
    height: 700px;
    width: 600px;
}

img {
    border: 5px solid black;
}
p.beer pic{
    position: top;
}
